.colora{
    background-color: antiquewhite;
    color: black;
    
}

.colorb{
    background-color: black;
    color: aliceblue;
    
}

.colorc{
    background-color: blue;
    color: aliceblue;
}

.colord{
    background-color: brown;
    color: aliceblue;
}